* {
    box-sizing: border-box;}
  
  body {
      background-color: white;
      font-family: Raleway, Tahoma, Arial, Verdana, sans-serif;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      min-width: 700px;
      max-width: 1000px;
  }
  
  h1, h2 {
    color: rgb(8, 48, 88);
    padding: 10px;
    text-decoration: underline rgb(241, 44, 60);
  }

  header {
      background-image: url("Tree.JPG");
      background-size: 200px 300px;
      background-position: right;
      height: 100px;
      font-size: 30px;
      font-weight: bold;
  }

  footer {
      margin-top: 30px;
      margin-bottom: 20px;
      background-color: rgb(225, 241, 44);
      padding: 10px:
  }

  footer a {
    display: inline-block;
    margin-right: 50px;
  }


  
  .colour_range ul {
    border: 4px black solid;
    width: 95%;
    height: 30%;
    overflow: auto;
    margin-left: 10px;
    
  }
  
  .colour_range li {
    padding: 20px;
    width: 31%;
    border: 1px solid black;
    float: left;
    margin: 5px;
    display: inline-block;
  }
  
  .colour_range .C1 {
    background-color: rgb(238, 252, 227);
  }
  
  .colour_range .C2 {
    background-color: rgb(225, 241, 44);
  }
  
  .colour_range .C3 {
    background-color: rgb(241, 44, 60);
  }
  
  .colour_range .C4 {
    background-color: rgb(255, 255, 255);
  }
  
  .colour_range .C5 {
    background-color: rgb(12, 73, 135);
    color: white;
    font-weight: 400;
  }
  
  .colour_range .C6 {
    background-color: rgb(8, 48, 88);
    color: white;
    font-weight: 400;
  }
  
  .colour_range .C7 {
    background-color: rgb(4, 30, 56);
    color: white;
    font-weight: 400;
  }
  
  .colour_range .C8 {
    background-color: rgb(26, 130, 233);
  }
  
  .colour_range .C9 {
    background-color: rgb(180, 214, 248);
  }
  
  .colour_range .C10 {
    background-color: rgb(227, 239, 252);
  }
  
  .sans-serif {
    border: 4px black solid;
    width: 95%;
    height: 30%;
    overflow: auto;
    margin-left: 10px;
    background-color: #B4D6F8;
    padding: 10px;
  }
  
  .sans-serif h3, h4 {
    padding: 10px;
    line-height: 2.2em;
    text-decoration: 2px underline #083058;
  }
  
  .sans-serif h3 {
      font-size: 1.2em;
  }
  
  .rale {
    font-family: Raleway;
    font-size: 1.4em;
  }
  
  .tahoma {
    font-family: Tahoma;
    font-size: 1.4em;
  }
  
  .arial {
    font-family: Arial;
    font-size: 1.4em;
  }
  
  .Verdana {
    font-family: Verdana;
    font-size: 1.3em;
  }
  
  .styles {
    border: 4px black solid;
    width: 95%;
    height: 30%;
    overflow: auto;
    margin-left: 10px;
  }
  
  .styles ul {
    
  }
  
  .styles li {
    text-align: left;
    margin-left: 20%;
    color: #083058;
    font-weight: bold;
  }
  
  .styles h3 {
    color: rgb(8, 48, 88);
    padding: 10px;
    text-decoration: underline rgb(241, 44, 60);
  }