body {
    background-color: aquamarine;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    min-width: 230px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: white;
    font-weight: bold;
    text-align: center;
}


.message p {
    color: blue;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(80, 162, 255);
    width: 70%;
    margin-left: 10%;
}

.button {
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    border: 2px solid yellow;
    width: 18%;
    color: white;
}

.button p {
    color: white;
    background-color: blueviolet;
    padding: 2px 4px;
    font-size: 0.9rem;
    text-align: center;
}

.button p:hover {
    background-color: yellowgreen;
    cursor: pointer;
}


img {
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
}

a {
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

a:hover {
     background-color: yellow;   
}


@media only screen and (min-width: 230px) and (max-width: 350px) {
       
    h1 {
        font-size: 32px;
    }
    img {
        height: 30%;
        width: 30%;
        padding-left: 10px;
        padding-bottom: 10px;
    
    }
    .message p {
        color: blue;
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(80, 162, 255);
        width: 70%;
    }

    .button {
        background-color: blue;
        border: 2px solid yellow;
        width: 30%;
        text-align: center;
        color: white;
        padding: 5px 5px;
        font-size: 0.4rem;
    }

    a {
        color: black;
        font-weight: bold;
        border: 2px black solid;
        background-color: white;
        font-size: 0.38rem;
    }   
}
