body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    max-width: 1000px;
    min-width: 300px;
    background-color: blue;
    
}

img {
    width: 70%;
    height: 50%;
    border-radius: 250px;
    border-style: groove;
}

#heading {
    margin-bottom: 15px;
}
 .link_title li {
    display: inline-block;
    margin-bottom: 10px;
    width: 20%;
    
}

.main p {
    color: #F3F03E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.main a {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width: 650px) {
    .main a {
        font-size: 12px;}
    img {
        margin-top: 10%;
    }
}
