body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16;
    margin: 0;
    background-color: gainsboro;
    min-width: 320px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: whitesmoke;
    z-index: 1;
}

.navigation-items li{
    display: inline-flex;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
}

.navigation-items a {
    color: blue;
}
    
a:hover {
    font-size: 1.5rem;
}

/*Grid settings and styling for main page*/

.grid-area {
    display: grid;
    max-width: 1100px;
    position: relative;
    margin: auto;
    margin-top: 150px;
    grid-template: 400px 200px 100px / 30% 70%;
    row-gap: 40px;
    justify-items: center;
    align-items: center;
}

.highlight-skills {
    grid-area: 1 / 1 / 1 / 1;
    font-size: 1.8rem;
}

.highlight-skills h3 {
    font-size: 1.3rem;
}

.face-image {
    grid-area: 1 / 2 / 1 / 2;
}

.about {
    grid-area: 2 / 1 / 2 / span 2;
    font-size: 1.5rem;
}

/*styling for list of icons showing various skills*/

.skill-list {
    grid-area: 3 / 1 / 3 / span 2;
    font-size: 1.7rem;
    width: 100%;
}

.skill-list i {
    font-size: 1.5rem;
    padding-right: 10px;
}

.skill-list p {
    display: inline-block;
    font-size: 1rem;
    width: 15%;
    margin-left: 5px;
}




/*Footer seetings*/

footer {
    position: relative;
    width: 100%;
    text-align: center;
    height: 250px;
    margin-top: 50px;
    border-top: black solid 50px;
    font-weight: bold;
}

#time {
    font-size: 1.2rem;
}
/* mobile screens */

@media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    nav h2 {
        font-size: 1.1rem;
    }

    .navigation-items li {
        font-size: 0.8rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    a:hover {
        font-size: 1.1rem;
    }

    img {
        height: 80%;
        width: 90%;
        margin-left: 50px;
    }

    .grid-area {
        width: 80%;
        margin-top: 5px;
        grid-template: 400px 200px 250px/ 30% 60%;
        margin-left: 30px;
    }

    .highlight-skills {
        font-size: 1rem;
        width: 180%;
        /*margin-left: -10px;*/
        
    }
    
    .highlight-skills h3 {
        font-size: 1rem;
        width: 150%;
        margin-left: 70px;
    }

    .highlight-skills ul {
        margin-left: -10px;
    }

    .face-image {
        
    }
    
    .about {
        font-size: 1rem;
    }
    
    /*styling for list of icons showing various skills*/
    
    .skill-list {
        font-size: 0.7rem; 
        margin-top: 170px;
        width: 100%;
    }

    .skill-list p {
        font-size: 0.6rem;
        width: 15%;
    }

    footer {
        font-size: 0.8rem;
    }
    
    #time {
        font-size: 0.7rem;
    }
}



/*media queries to adjust for smaller screen sizes*/

@media only screen and (min-width: 450px) and (max-width: 750px) {
    nav h2 {
        font-size: 1.2rem;
    }

    .navigation-items li {
        font-size: 0.9rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    a:hover {
        font-size: 1.1rem;
    }

    img {
        height: 80%;
        width: 80%;
        margin-left: 40px;
    }

    .grid-area {
        width: 80%;
        margin-top: 30px;
        grid-template: 400px 200px 250px/ 30% 70%;
    }

    .highlight-skills {
        font-size: 1.1rem;
        width: 150%;
        margin-left: 50px;
    }
    
    .highlight-skills h3 {
        font-size: 1rem;
    }

    .face-image {
        
    }
    
    .about {
        font-size: 1.2rem;
    }
    
    /*styling for list of icons showing various skills*/
    
    .skill-list {
        font-size: 1rem; 
        margin-top: 60px;
    }

    .skill-list p {
        font-size: 0.8rem;
        width: 12%;
    }
}

/*media queries to adjust for smaller screen sizes*/

@media only screen and (min-width: 480px) and (max-width: 750px) {
    nav h2 {
        font-size: 1.2rem;
    }

    .navigation-items li {
        font-size: 0.9rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    a:hover {
        font-size: 1.1rem;
    }

    img {
        height: 80%;
        width: 80%;
        margin-left: 40px;
    }

    .grid-area {
        width: 80%;
        margin-top: 30px;
        grid-template: 400px 200px 250px/ 30% 70%;
    }

    .highlight-skills {
        font-size: 1.1rem;
        width: 150%;
        margin-left: 50px;
    }
    
    .highlight-skills h3 {
        font-size: 1rem;
    }

    .face-image {
        
    }
    
    .about {
        font-size: 1.2rem;
    }
    
    /*styling for list of icons showing various skills*/
    
    .skill-list {
        font-size: 1rem; 
        margin-top: 60px;
    }

    .skill-list p {
        font-size: 0.8rem;
        width: 12%;
    }
}

/*media queries to adjust for medium screen sizes*/

@media only screen and (min-width: 750px) and (max-width: 1200px) {
    nav h2 {
        font-size: 1.4rem;
    }

    .navigation-items li {
        font-size: 1rem;
        margin-left: 15px;
        margin-right: 15px;
    }

    a:hover {
        font-size: 1.3rem;
    }

    img {
        height: 85%;
        width: 85%;
        margin-left: 40px;
    }

    .grid-area {
        width: 90%;
        margin-top: 60px;
        grid-template: 400px 200px 250px/ 30% 70%;
    }

    .highlight-skills {
        font-size: 1.5rem;
       /* width: 150%;
        margin-left: 50px;*/
    }
    
    .face-image {
        
    }
    
    .about {
        font-size: 1.4rem;
    }
    
    /*styling for list of icons showing various skills*/
    
    .skill-list {
        font-size: 1.5rem; 
    }

    .skill-list p {
        font-size: 1rem;    }
}
