/*body styling*/

body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    min-width: 200px;
}

/*header content*/
.header {
    display: block;
    background-color: white;
    width: 100%;
    height: 200px;
    top: 0;
    border: black solid 1px;
    background-image: url("header_image.jpg");
    background-repeat: no-repeat;
    background-size: 30% 100%;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;

}

.header h3 {
    color: black;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 30%;
}

.links {
    text-align: end;
}

.links a {
    padding: 2%;
}



/*club title and about*/
.club_name {
    margin-top: 200px;
    width: 100%;
    height: 720px;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-weight: bold;
    text-align: center;
}

.club_name h1 {
    font-size: 3.5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.club_name h2 {
    font-size: 2.5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.about h3 {
    margin-top: 90px;
    font-size: 2rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

.about p {
    font-size: 1.5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    width: 90%;
    padding-left: 5%;
}

/*club images*/
.club_description_title {
    background-color: white;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
}


.club_description {
    display: flex;
    background-color: white;
    width: 100%;
    height: 550px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.grounds img{
    height: 300px;
    width: 300px;
    display: flex;
}

.warehouse img{
    height: 300px;
    width: 300px;
    display: flex;
}

.o_guage img{
    height: 300px;
    width: 300px;
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
}

.scales_heading {
    background-color: white;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
}

.scales {
    display: flex;
    background-color: white;
    width: 100%;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.z img {
    height: 100px;
    width: 100px;
    display: flex;
}

.n img {
    height: 100px;
    width: 100px;
    display: flex;
}

.ho img {
    height: 100px;
    width: 100px;
    display: flex;
}

.size img {
    height: 100px;
    width: 200px;
    display: flex;
}

.o img {
    height: 100px;
    width: 100px;
    display: flex;
}

.g img {
    height: 100px;
    width: 100px;
    display: flex;
}

.minature img {
    height: 100px;
    width: 100px;
    display: flex;
}

/*Learn and Teach section*/
.learn_teach_title {
    height: 250px;
    width: 100%;
    background-color: white;
    margin-top: 30px;
}

.learn_teach_title h2 {
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-size: 3.5rem;
    color: white;
}

.learn_teach_title p {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
}

.learn_teach {
    display: flex;
    height: 300px;
    width: 100%;
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.learn_teach div {
    width: 200px;
    height: 50px;
}

.learn_teach div:nth-of-type(1) {
    margin-left: 2%;
}


/*Contact details*/
.contact_title {
    background-color: white;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
}

.contact {
    display: flex;
    background-color: white;
    width: 100%;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.form {
    text-align: left;
}

#first-name {
    margin-left: 20px;
}
#surname {
    margin-left: 35px;
}
#unit {
    margin-left: 42px;
}
#street-n {
    margin-left: 26px;
}
#street-name {
    margin-left: 12px;
}
#location {
    margin-left: 35px;
}
#post {
    margin-left: 28px;
}
#email {
    margin-left: 52px;
}
#submit {
    margin-left: 160px;
    margin-top: 15px;
}

/* small mobiles */
@media only screen and (min-width: 209px) and (max-width: 303px) {
    body {
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16;
        margin: 0;
        padding: 0;
        background-color: gainsboro;
        min-width: 200px;
    }
    
    /*header content*/
    .header {
        display: block;
        background-color: white;
        width: 100%;
        height: 80px;
        top: 0;
        border: black solid 1px;
        background-image: url("header_image.jpg");
        background-repeat: no-repeat;
        background-size: 20% 100%;
        text-align: center;
        position: fixed;
        top: 0px;
        left: 0px;
    }
    
    .header h3 {
        color: black;
        font-weight: bold;
        font-size: 0.8rem;
        margin-left: 30%;
    }
    
    .links {
        text-align: end;
    }
    
    .links a {
        padding: 2%;
        font-size: 0.6rem;
    }
    
    
    
    /*club title and about*/
    .club_name {
        margin-top: 100px;
        width: 100%;
        height: 400px;
        background-image: url("image.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    
    .club_name h1 {
        font-size: 1.5rem;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: black;
    }
    
    .club_name h2 {
        margin-top: 20%;
        font-size: 1rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        width: 80%;
    }
    
    .about h3 {
        margin-top: 50px;
        font-size: 1.2rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        text-align: center;
    }
    
    .about p {
        font-size: 0.8rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        width: 90%;
        padding-left: 5%;
    }
    
    /*club images*/
    .club_description_title {
        background-color: white;
        height: 50px;
        width: 100%;
        margin-top: 30px;
        text-align: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        font-weight: bold;
        font-size: 1.2rem;
        color: white;
    }
    
    
    .club_description {
        display: flex;
        background-color: white;
        width: 100%;
        height: 600px;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .grounds img{
        height: 60%;
        width: 60%;
        display: flex;
    }
    
    .warehouse img{
        height: 60%;
        width: 60%;
        display: flex;
    }
    
    .o_guage img{
        height: 60%;
        width: 60%;
        display: flex;
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .scales_heading {
        background-color: white;
        height: 50px;
        width: 100%;
        margin-top: 30px;
        text-align: center;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
    }
    
    .scales {
        display: flex;
        background-color: white;
        width: 100%;
        height: 800px;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .z img {
        height: 100px;
        width: 100px;
        display: flex;
    }
    
    .n img {
        height: 100px;
        width: 100px;
        display: flex;
    }
    
    .ho img {
        height: 100px;
        width: 100px;
        display: flex;
    }
    
    .size img {
        height: 100px;
        width: 150px;
        display: flex;
    }
    
    .o img {
        height: 100px;
        width: 100px;
        display: flex;
    }
    
    .g img {
        height: 100px;
        width: 100px;
        display: flex;
    }
    
    .minature img {
        height: 100px;
        width: 100px;
        display: flex;
    }
    
    /*Learn and Teach section*/
    .learn_teach_title {
        height: 400px;
        width: 100%;
        background-color: white;
        margin-top: 30px;
    }
    
    .learn_teach_title h2 {
        text-align: center;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        font-weight: bold;
        font-size: 2rem;
        color: white;
    }
    
    .learn_teach_title p {
        text-align: center;
        width: 80%;
        margin: auto;
        font-size: 1rem;
    }
    
    .learn_teach {
        display: block;
        height: 450px;
        width: 100%;
        background-color: white;
        font-size: 1rem;
        font-weight: bold;
        
        
        /*margin-left: 20px;*/
        /*justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;*/
    }
    
    .learn_teach div {
        width: 150px;
        margin-left: 20%;
        text-align: left;
    }
    
    
    
    
    
    /*Contact details*/
    .contact_title {
        background-color: white;
        height: 100px;
        width: 100%;
        margin-top: 30px;
        text-align: center;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
    }
    
    .contact {
        display: block;
        background-color: white;
        width: 100%;
        height: 900px;
        text-align: center;
    }
    
    .form {
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        
    }
    
    #first-name {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 90%;
    }
    #surname {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 90%;
    }
    #unit {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 90%;
    }
    #street-n {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 90%;
    }
    #street-name {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 90%;
    }
    #location {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 90%;
    }
    #post {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 90%;
    }
    #email {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 90%;
    }
    #submit {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
    }
}

/* mobile screens */
@media only screen and (min-width: 303px) and (max-width: 900px) {
    body {
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16;
        margin: 0;
        padding: 0;
        background-color: gainsboro;
        min-width: 200px;
    }
    
    /*header content*/
    .header {
        display: block;
        background-color: white;
        width: 100%;
        height: 200px;
        top: 0;
        border: black solid 1px;
        background-image: url("header_image.jpg");
        background-repeat: no-repeat;
        background-size: 30% 100%;
        text-align: center;
        position: fixed;
        top: 0px;
        left: 0px;
    }
    
    .header h3 {
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        margin-left: 30%;
    }
    
    .links {
        text-align: end;
    }
    
    .links a {
        padding: 2%;
        font-size: 0.8rem;
    }
    
    
    
    /*club title and about*/
    .club_name {
        margin-top: 200px;
        width: 100%;
        height: 400px;
        background-image: url("image.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    
    .club_name h1 {
        font-size: 2rem;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }
    
    .club_name h2 {
        margin-top: 20%;
        font-size: 1.5rem;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: black;
        width: 80%;
    }
    
    .about h3 {
        margin-top: 90px;
        font-size: 1.5rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        text-align: center;
    }
    
    .about p {
        font-size: 0.9rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        width: 90%;
        padding-left: 5%;
    }
    
    /*club images*/
    .club_description_title {
        background-color: white;
        height: 50px;
        width: 100%;
        margin-top: 30px;
        text-align: center;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
    }
    
    
    .club_description {
        display: flex;
        background-color: white;
        width: 100%;
        height: 1200px;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .grounds img{
        height: 300px;
        width: 300px;
        display: flex;
    }
    
    .warehouse img{
        height: 300px;
        width: 300px;
        display: flex;
    }
    
    .o_guage img{
        height: 300px;
        width: 300px;
        display: flex;
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .scales_heading {
        background-color: white;
        height: 50px;
        width: 100%;
        margin-top: 30px;
        text-align: center;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
    }
    
    .scales {
        display: flex;
        background-color: white;
        width: 100%;
        height: 450px;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .z img {
        height: 100px;
        width: 100px;
        display: flex;
    }
    
    .n img {
        height: 100px;
        width: 100px;
        display: flex;
    }
    
    .ho img {
        height: 100px;
        width: 100px;
        display: flex;
    }
    
    .size img {
        height: 100px;
        width: 200px;
        display: flex;
    }
    
    .o img {
        height: 100px;
        width: 100px;
        display: flex;
    }
    
    .g img {
        height: 100px;
        width: 100px;
        display: flex;
    }
    
    .minature img {
        height: 100px;
        width: 100px;
        display: flex;
    }
    
    /*Learn and Teach section*/
    .learn_teach_title {
        height: 300px;
        width: 100%;
        background-color: white;
        margin-top: 30px;
    }
    
    .learn_teach_title h2 {
        text-align: center;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        font-weight: bold;
        font-size: 2rem;
        color: white;
    }
    
    .learn_teach_title p {
        text-align: center;
        width: 80%;
        margin: auto;
        font-size: 1rem;
    }
    
    .learn_teach {
        display: flex;
        height: 600px;
        width: 100%;
        background-color: white;
        font-size: 1rem;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .learn_teach div {
        width: 200px;
        height: 50px;
    }
    
    .learn_teach div:nth-of-type(1) {
        margin-left: 2%;
    }
    
    
    /*Contact details*/
    .contact_title {
        background-color: white;
        height: 100px;
        width: 100%;
        margin-top: 30px;
        text-align: center;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
    }
    
    .contact {
        display: block;
        background-color: white;
        width: 100%;
        height: 450px;
        text-align: center;
    }
    
    .form {
        text-align: center;
    }
    
    #first-name {
        margin-left: 20px;
    }
    #surname {
        margin-left: 35px;
    }
    #unit {
        margin-left: 42px;
    }
    #street-n {
        margin-left: 26px;
    }
    #street-name {
        margin-left: 12px;
    }
    #location {
        margin-left: 35px;
    }
    #post {
        margin-left: 28px;
    }
    #email {
        margin-left: 52px;
    }
    #submit {
        margin-left: 160px;
        margin-top: 15px;
    }
}